<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Hundefleisch Ellholz</h1>
                        <h3>Qualitätsfleisch seit 1978</h3>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Wieso Hund?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
